{
  "extends": "airbnb-base",
  "env": {
    "node": true
  },
  "globals": {
    "user_pref": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "semi": "error",
    "quotes": ["error", "single"]
  }
}
