[submodule "src/chrome/css/materialfox"]
	path = src/chrome/css/materialfox
	url = https://github.com/muckSponge/MaterialFox
[submodule "src/chrome/css/customcssforfx"]
	path = src/chrome/css/customcssforfx
	url = https://github.com/Aris-t2/CustomCSSforFx
[submodule "src/chrome/userChrome"]
	path = src/chrome/userChrome
	url = https://github.com/Endor8/userChrome.js
