[submodule "chrome/css/materialfox"]
	path = chrome/css/materialfox
	url = https://github.com/muckSponge/MaterialFox
[submodule "chrome/css/customcssforfx"]
	path = chrome/css/customcssforfx
	url = https://github.com/Aris-t2/CustomCSSforFx
[submodule "chrome/userChrome"]
	path = chrome/userChrome
	url = https://github.com/Endor8/userChrome.js
