/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/

@-moz-document url-prefix(chrome://mozapps/content/extensions/extensions.xul), url-prefix(about:addons) {
  .addon.card {
    /* max-width: 950px !important; */
    padding: 4px !important;
    padding-right: 6px !important;
    padding-left: 11px !important;
    margin: -1px !important;
    margin-top: 4px !important;
    font-size: 15px !important;
    /* font-family: Arial !important; */
    border-radius: 7px !important;
  }
}